.work-subjekt {
  margin-top: 94px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  margin-bottom: 100px;
}

.logo {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
  margin-left: 100px;
  width: 145px;
  height: 31px;
  left: 215px;
  top: 24px;
  margin-top: 30px;
}

@media screen and (max-width: 480px) {
  .logo {
    margin-left: 15px;
    margin-top: 16px;
    margin-bottom: 16px;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 0.03em;
  }
}

.f-logo {
  color: #2196f3;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 145px;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
}

.s-logo {
  color: #000000;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 145px;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
}

.foot-logo {
  padding-top: 75px;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
}

@media screen and (max-width: 480px) {
  .foot-logo {
    text-align: center;
    margin-left: 0px;
  }
}

.f-footlogo {
  color: #2196f3;
}

.s-footlogo {
  color: #ffffff;
}

.mail-link {
  color: #757575;
  text-decoration: none;
  margin-right: 0px;
  margin-left: 10px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  margin-right: 20px;
}

.mail-link {
  margin-left: 10px;
}

.mail-item :hover {
  color: #2196f3;
}

.p-mail {
  margin-left: 10px;
}

.envenlope-icon {
  margin-right: 10px;
}

.envenlope-icon {
  margin-left: 10px;
  vertical-align: middle;
}

.kontakt-items .mail-link:hover,
.kontakt-items .mail-link:focus {
  color: #2196f3;
  fill: #2196f3;
  -webkit-transition: 250ms;
  transition: 250ms;
}

.foot-logo {
  padding-top: 75px;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  margin-left: 100px;
}

.mail-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.mail-item {
  margin-top: 10px;
}

.envenlope-icon {
  margin-left: 10px;
  vertical-align: middle;
}

.list {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 480px) {
  .list {
    display: block;
  }
}

.menu_kontakt-trade {
  color: #212121;
  text-decoration: none;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 47px;
}

.menu_portfolio-trade {
  color: #212121;
  text-decoration: none;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 47px;
}

.menu_studio-trade {
  color: #212121;
  text-decoration: none;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 47px;
}

.menu_studio-trade:hover {
  color: #2196f3;
}

.menu_portfolio-trade:hover {
  color: #2196f3;
}

.menu_kontakt-trade:hover {
  color: #2196f3;
}

.menu_studio-item {
  margin-bottom: 32px;
}

.menu_portfolio-item {
  margin-bottom: 32px;
}

.menu_kontakt-item {
  margin-bottom: 302px;
}

.menu_mail-link {
  text-align: center;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 34px;
  line-height: 40px;
  letter-spacing: 0.02em;
  color: #2196F3;
}

.menu_mobile {
  margin-bottom: 32px;
}

.menu_e-mail-link {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 0.02em;
  text-align: center;
  color: #757575;
}

.menu_enveloper {
  margin-bottom: 64px;
}

.mail_link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-bottom: 20px;
  width: 357px;
  margin-left: auto;
  margin-right: auto;
}

.menu_link {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.02em;
  color: #2196F3;
  text-decoration: none;
}

.link_item {
  border-right: rgba(33, 33, 33, 0.2) solid 1px;
  padding-right: 10px;
}

.linkedin_link {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.02em;
  color: #2196F3;
  text-decoration: none;
}

.studio-item {
  margin-left: 90px;
}

.studio-item :visited {
  color: #2196f3;
}

.studio-trade {
  color: #2196f3;
  position: relative;
}

.portfolio-item :hover {
  color: #2196f3;
  -webkit-transition: all 250ms;
  transition: all 250ms;
}

.kontakt-item :hover {
  color: #2196f3;
  -webkit-transition: 250ms;
  transition: 250ms;
}

.studio-trade::after {
  position: absolute;
  top: 48px;
  content: "";
  width: 100%;
  height: 4px;
  bottom: 0px;
  left: 0px;
  background-color: #2196f3;
  border-radius: 2px;
}

.kontakt-item {
  margin-right: 200px;
}

.portfolio-item {
  margin-left: 50px;
  margin-right: 50px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
}

.kontakt-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.studio-trade {
  color: #212121;
  text-decoration: none;
}

.portfolio-trade {
  color: #212121;
  text-decoration: none;
}

.kontakt-trade {
  color: #212121;
  text-decoration: none;
}

.telefone-icon {
  margin-right: 10px;
}

.kontakt-items .tel-trade:hover,
.kontakt-items .tel-trade:focus {
  color: #2196f3;
  fill: #2196f3;
  -webkit-transition: 250ms;
  transition: 250ms;
}

.tel-trade {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-right: 0px;
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
}

ul {
  list-style: none;
}

* {
  -webkit-padding-start: 0px;
          padding-inline-start: 0px;
  -webkit-padding-end: 0px;
          padding-inline-end: 0px;
  padding-right: 0px;
  margin-left: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
}

.header {
  height: 60px;
  width: 100%;
  position: relative;
}

@media screen and (max-width: 480px) {
  .media-header {
    display: none;
  }
}

.second-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 30px;
  margin-bottom: 30px;
}

.contaner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.hero-section {
  height: 600px;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(/images/background-hero-tab@2-min.jpg);
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(/images/background-hero-tab@2-min.jpg);
  margin-top: 30px;
  background-repeat: no-repeat;
}

.hero-warning {
  padding-top: 200px;
  padding-bottom: 200px;
  text-align: center;
}

@media screen and (max-width: 480px) {
  .hero-warning {
    padding-top: 118px;
    padding-bottom: 118px;
    text-align: center;
  }
}

@media screen and (max-width: 480px) {
  .hero-section {
    height: 400px;
    max-width: 480px;
    width: 100%;
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(/images/heromobile1x\.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(/images/heromobile1x\.jpg);
    margin-top: 0px;
    background-repeat: no-repeat;
  }
}

.title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 60px;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 30px;
}

@media screen and (max-width: 768px) {
  .title {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 900;
    font-size: 26px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
  }
}

.button {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  background: #2196f3;
  color: #ffffff;
  width: 200px;
  height: 50px;
  border: 1px;
  border-radius: 4px;
}

.antena-background {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 270px;
  height: 120px;
  background-color: #f5f4fa;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: 90px;
  margin-bottom: 30px;
  border-radius: 4px;
  margin-top: 94px;
}

@media screen and (max-width: 480px) {
  .antena-background {
    width: 350px;
    width: 100%;
    margin-left: 0px;
    margin-top: 0px;
  }
}

.antena-icon {
  margin-top: 1px;
  margin-left: 10px;
}

.clock-icon {
  margin-top: 1px;
  margin-left: 10px;
}

.clock-background {
  margin-left: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 270px;
  height: 120px;
  background-color: #f5f4fa;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 30px;
  border-radius: 4px;
  margin-top: 94px;
}

@media screen and (max-width: 480px) {
  .clock-background {
    max-width: 450px;
    width: 100%;
    margin-left: 0px;
    margin-right: 0px;
  }
}

.diagram-background {
  margin-left: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 270px;
  height: 120px;
  background-color: #f5f4fa;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 30px;
  border-radius: 4px;
  margin-top: 94px;
}

@media screen and (max-width: 768px) {
  .diagram-background {
    max-width: 450px;
    width: 100%;
    margin-left: 0px;
    margin-right: 0px;
  }
}

.astronaut-background {
  margin-left: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 270px;
  height: 120px;
  background-color: #f5f4fa;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 30px;
  border-radius: 4px;
  margin-right: 90px;
  margin-top: 94px;
}

@media screen and (max-width: 480px) {
  .astronaut-background {
    max-width: 450px;
    width: 100%;
    margin-left: 0px;
    margin-right: 0px;
  }
}

.subjekt {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #212121;
  margin-right: 30px;
  margin-left: 90px;
  margin-bottom: 10px;
}

@media screen and (max-width: 480px) {
  .subjekt {
    margin-left: 0px;
    margin-right: 0px;
    text-align: center;
  }
}

.tehnology-subjekt {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #212121;
  margin-right: 90px;
  margin-bottom: 10px;
  margin-top: 0px;
  margin-bottom: 10px;
  margin-left: 30px;
}

@media screen and (max-width: 480px) {
  .tehnology-subjekt {
    margin-left: 0px;
    margin-right: 0px;
    text-align: center;
  }
}

.plan-subjekt {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #212121;
  margin-right: 30px;
  margin-bottom: 10px;
  margin-top: 0px;
  margin-bottom: 10px;
  margin-left: 30px;
}

@media screen and (max-width: 480px) {
  .plan-subjekt {
    margin-left: 0px;
    margin-right: 0px;
    text-align: center;
  }
}

.punkt-subjekt {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #212121;
  margin-right: 30px;
  margin-bottom: 10px;
  margin-top: 0px;
  margin-bottom: 10px;
  margin-left: 30px;
}

@media screen and (max-width: 480px) {
  .punkt-subjekt {
    margin-left: 0px;
    margin-right: 0px;
    text-align: center;
  }
}

.first-text {
  color: #757575;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  margin-right: 30px;
  margin-left: 90px;
  margin-top: 10px;
  margin-bottom: 94px;
}

@media screen and (max-width: 480px) {
  .first-text {
    margin-left: 0px;
  }
}

.second-text {
  color: #757575;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  margin-right: 30px;
  margin-left: 30px;
  margin-top: 10px;
  margin-bottom: 94px;
}

@media screen and (max-width: 480px) {
  .second-text {
    margin-left: 0px;
  }
}

.third-text {
  color: #757575;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  margin-right: 30px;
  margin-left: 30px;
  margin-top: 10px;
  margin-bottom: 94px;
}

@media screen and (max-width: 480px) {
  .third-text {
    margin-left: 0px;
  }
}

.fourth-text {
  color: #757575;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  margin-right: 90px;
  margin-top: 10px;
  margin-bottom: 94px;
  margin-left: 30px;
}

@media screen and (max-width: 480px) {
  .fourth-text {
    margin-left: 0px;
  }
}

.first-conteiner {
  text-align: center;
}

.second-conteiner {
  text-align: center;
}

.div-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 94px;
}

.detal-items {
  margin-bottom: 10px;
}

.items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.developer-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 480px) {
  .div-item {
    display: block;
  }
  .items {
    display: block;
  }
  .developer-items {
    display: block;
  }
}

.feauters-contaner {
  padding-left: 15px;
  padding-right: 15px;
}

.komand-subjekt {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  margin-top: 188px;
  padding-top: 94px;
  margin-bottom: 50px;
  text-align: center;
}

.svg-warning {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.komand-svg {
  background: #ffffff;
}

.komand-svg {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: #ffffff;
  margin-bottom: 42px;
  margin-top: 28px;
  margin-left: 13px;
  margin-right: 10px;
  fill: #afb1b8;
}

.second-section {
  background-color: #f5f4fa;
  height: 708px;
}

@media screen and (max-width: 480px) {
  .second-section {
    background-color: #f5f4fa;
    height: 100%;
  }
}

.name-item {
  color: #212121;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  line-height: 19px;
  margin-top: 30px;
  margin-bottom: 10px;
}

.work-item {
  color: #f5f4fa;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
}

.komand-warning {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  text-align: center;
}

@media screen and (max-width: 480px) {
  .komand-warning {
    display: block;
    padding-left: 15px;
    padding-right: 15px;
  }
}

.img-item {
  background-color: #ffffff;
  border-radius: 4px;
  margin-bottom: 94px;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}

@media screen and (max-width: 480px) {
  .img-item {
    margin-bottom: 30px;
  }
}

@media screen and (max-width: 480px) {
  .img-item {
    width: 100%;
  }
}

@media screen and (max-width: 480px) {
  .Demianenko-img {
    width: 100%;
    height: auto;
  }
}

@media screen and (max-width: 480px) {
  .Repina-img {
    width: 100%;
    height: auto;
  }
}

@media screen and (max-width: 480px) {
  .Tarasow-img {
    width: 100%;
    height: auto;
  }
}

@media screen and (max-width: 480px) {
  .Ermakow-img {
    width: 100%;
    height: auto;
  }
}

@media screen and (max-width: 480px) {
  .Ermakov-items {
    padding-bottom: 30px;
  }
}

.komand-svg:hover,
.komand-svg:focus {
  background-color: #2196f3;
  -webkit-transition: 250ms;
  transition: 250ms;
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  fill: #ffffff;
}

.f-svg :hover {
  fill: #ffffff;
}

.s-svg :hover {
  fill: #ffffff;
}

.t-svg :hover {
  fill: #ffffff;
  -webkit-transition: 250ms;
  transition: 250ms;
}

.klient-title {
  margin-top: 94px;
  text-align: center;
  margin-bottom: 74px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  letter-spacing: 0.03em;
  color: #212121;
}

@media screen and (max-width: 480px) {
  .klient-title {
    margin-top: 94px;
    text-align: center;
    margin-bottom: 74px;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    letter-spacing: 0.03em;
    color: #212121;
  }
}

.klients {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.t-section {
  max-width: 480px;
  height: 100%;
}

@media screen and (max-width: 480px) {
  .f-klient {
    margin-left: 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    max-width: 210px;
    height: 92px;
    padding-top: 23px;
    border: 1px solid #afb1b8;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    border-radius: 4px;
    fill: #afb1b8;
  }
  .s-klient {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-top: 23px;
    max-width: 210px;
    height: 92px;
    border: 1px solid #afb1b8;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    border-radius: 4px;
    margin-left: 15px;
    fill: #afb1b8;
  }
  .t-klient {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-top: 23px;
    width: 210px;
    height: 92px;
    border: 1px solid #afb1b8;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    border-radius: 4px;
    margin-left: 15px;
    fill: #afb1b8;
  }
  .fo-klient {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-top: 23px;
    width: 210px;
    height: 92px;
    border: 1px solid #afb1b8;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    border-radius: 4px;
    margin-left: 15px;
    fill: #afb1b8;
  }
  .fi-klient {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-top: 23px;
    width: 210px;
    height: 92px;
    border: 1px solid #afb1b8;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    border-radius: 4px;
    margin-left: 15px;
    fill: #afb1b8;
  }
  .si-klient {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 210px;
    height: 92px;
    padding-top: 23px;
    border: 1px solid #afb1b8;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    border-radius: 4px;
    margin-left: 15px;
    fill: #afb1b8;
  }
}

.f-klient {
  margin-left: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 210px;
  height: 92px;
  padding-top: 23px;
  border: 1px solid #afb1b8;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 4px;
  fill: #afb1b8;
}

.s-klient {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 23px;
  width: 210px;
  height: 92px;
  border: 1px solid #afb1b8;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 4px;
  margin-left: 15px;
  fill: #afb1b8;
}

.t-klient {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 23px;
  width: 210px;
  height: 92px;
  border: 1px solid #afb1b8;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 4px;
  margin-left: 15px;
  fill: #afb1b8;
}

.fo-klient {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 23px;
  width: 210px;
  height: 92px;
  border: 1px solid #afb1b8;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 4px;
  margin-left: 15px;
  fill: #afb1b8;
}

.fi-klient {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 23px;
  width: 210px;
  height: 92px;
  border: 1px solid #afb1b8;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 4px;
  margin-left: 15px;
  fill: #afb1b8;
}

.si-klient {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 210px;
  height: 92px;
  padding-top: 23px;
  border: 1px solid #afb1b8;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 4px;
  margin-left: 15px;
  fill: #afb1b8;
}

@media screen and (max-width: 480px) {
  .client-contaner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 30px;
    max-width: 480px;
  }
  .klients {
    display: inline-block;
  }
}

.si-klient:hover {
  fill: #2196f3;
  border-color: #2196f3;
  -webkit-transition: 250ms;
  transition: 250ms;
}

.fi-klient:hover {
  fill: #2196f3;
  border-color: #2196f3;
  -webkit-transition: 250ms;
  transition: 250ms;
}

.fo-klient:hover {
  fill: #2196f3;
  border-color: #2196f3;
  -webkit-transition: 250ms;
  transition: 250ms;
}

.t-klient:hover {
  fill: #2196f3;
  border-color: #2196f3;
  -webkit-transition: 250ms;
  transition: 250ms;
}

.s-klient:hover {
  fill: #2196f3;
  border-color: #2196f3;
  -webkit-transition: 250ms;
  transition: 250ms;
}

.f-klient:hover {
  fill: #2196f3;
  border-color: #2196f3;
  -webkit-transition: 250ms;
  transition: 250ms;
}

.foot-mail {
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  margin-left: 215px;
}

.address {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  color: #ffffff;
  margin-left: 100px;
  margin-top: 20px;
  margin-bottom: 9px;
}

@media screen and (max-width: 480px) {
  .address {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    color: #ffffff;
    margin-left: 0px;
    margin-top: 20px;
    margin-bottom: 9px;
    text-align: center;
  }
}

.footer-items {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
}

.foot-mail {
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  margin-left: 100px;
}

@media screen and (max-width: 480px) {
  .foot-mail {
    margin-left: 0px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: baseline;
        -ms-flex-pack: baseline;
            justify-content: baseline;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.foot-link {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  padding-left: 528px;
  color: #ffffff;
}

.foot-mailto {
  margin-top: 9px;
  margin-bottom: 9px;
}

.footer {
  background-color: #2f303a;
  width: 100%;
  height: 100%;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.foot-warning {
  vertical-align: baseline;
}

@media screen and (max-width: 480px) {
  .footer {
    display: inline-block;
    -webkit-box-align: none;
        -ms-flex-align: none;
            align-items: none;
  }
}

.join {
  margin-left: 70px;
}

@media screen and (max-width: 480px) {
  .join {
    margin-left: 0px;
  }
}

.join-title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  margin-left: 5px;
}

@media screen and (max-width: 480px) {
  .join-title {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #ffffff;
    margin-left: 0px;
    text-align: center;
    margin-top: 60px;
  }
}

.join-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  fill: #fff;
  margin-top: 20px;
}

@media screen and (max-width: 480px) {
  .join-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    fill: #fff;
    margin-top: 20px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.join-list :not(:last-child) {
  margin-right: 10px;
}

.join-icon {
  width: 20px;
  height: 20px;
  fill: #ffffff;
}

.join-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 44px;
  height: 44px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
}

.join-link:hover,
.join-link:focus {
  background-color: #2196f3;
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  -webkit-transition: 250ms;
  transition: 250ms;
}

.join-icon :hover,
.join-icon :focus {
  fill: #ffffff;
}

.foot-input {
  background-color: #2f303a;
  border: 1px solid #ffffff;
  border-radius: 3px;
  width: 358px;
  height: 50px;
  padding-left: 20px;
  color: #ffffff;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  outline: none;
}

@media screen and (max-width: 480px) {
  .foot-input {
    width: 88%;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}

.inp-text {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 20px;
}

@media screen and (max-width: 480px) {
  .inp-text {
    margin-top: 60px;
    text-align: center;
  }
}

.foot-form {
  margin-left: 93px;
}

@media screen and (max-width: 480px) {
  .foot-form {
    margin-left: 0px;
  }
}

.foot-button {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  background: #2196f3;
  color: #ffffff;
  width: 200px;
  height: 50px;
  border: 1px;
  border-radius: 4px;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  padding-right: 40px;
  vertical-align: middle;
  margin-left: 12px;
  margin-bottom: 3px;
  position: relative;
}

@media screen and (max-width: 480px) {
  .foot-button {
    margin-top: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}

.inp-svg {
  vertical-align: middle;
  margin-left: 10px;
  margin-right: 0;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  -webkit-transform: translate(-50%, -50%) scale(1.2);
          transform: translate(-50%, -50%) scale(1.2);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  min-height: 581px;
  min-width: 528px;
  background-color: #ffffff;
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
  -webkit-transition: -webkit-transform 250ms linear;
  transition: -webkit-transform 250ms linear;
  transition: transform 250ms linear;
  transition: transform 250ms linear, -webkit-transform 250ms linear;
  border-radius: 3px;
}

@media screen and (max-width: 480px) {
  .modal {
    min-width: 95%;
  }
  .backdrop {
    padding-left: 15px;
    padding-right: 15px;
  }
}

.modal-close {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  cursor: pointer;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
}

.modal-close :focus,
.modal-close :hover {
  fill: #2196f3;
  -webkit-transition: 250ms;
  transition: 250ms;
}

.close-image {
  width: 11px;
  height: 11px;
  vertical-align: middle;
}

.modal-text {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.03em;
  text-align: center;
  color: #212121;
  margin-top: 40px;
}

.f-input {
  margin-top: 5px;
  width: 418px;
  height: 40px;
  outline: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  margin-bottom: 10px;
}

@media screen and (max-width: 480px) {
  .f-input {
    width: 370px;
  }
}

.f-input:focus {
  -webkit-transition: 250ms;
  transition: 250ms;
  border-color: #2196f3;
  fill: #2196f3;
}

.f-input:focus + .svg-lable {
  fill: #2196f3;
  color: #2196f3;
  -webkit-transition: 250ms;
  transition: 250ms;
}

.f-modal-svg :focus {
  fill: #2196f3;
}

.f-form {
  display: block;
  width: 370px;
  margin-left: auto;
  margin-right: auto;
}

.first-label {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: #757575;
  margin-left: 34px;
}

.s-input {
  outline: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  width: 448px;
  margin-top: 5px;
  margin-bottom: 10px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: #757575;
}

@media screen and (max-width: 480px) {
  .s-input {
    width: 370px;
  }
}

.s-input {
  padding-top: 16px;
  padding-bottom: 90px;
}

.s-input:focus {
  -webkit-transition: 250ms;
  transition: 250ms;
  border-color: #2196f3;
  fill: #2196f3;
}

.form-input {
  margin-left: 40px;
}

.f-modal-svg {
  position: absolute;
  top: 17px;
  left: 42px;
  vertical-align: middle;
  -webkit-transition-property: fill;
  transition-property: fill;
}

.s-modal-svg {
  position: absolute;
  top: 19px;
  left: 42px;
  vertical-align: middle;
}

.t-modal-svg {
  position: absolute;
  top: 17px;
  left: 42px;
  vertical-align: middle;
}

.f-form {
  position: relative;
}

.modal-policy {
  margin-top: 20px;
}

.checkbox {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.policy-box {
  display: inline-block;
  width: 12px;
  height: 11px;
  border: 2px solid #000000;
  border-radius: 2px;
  margin-right: 8px;
  -webkit-transition-property: background-color, border-color;
  transition-property: background-color, border-color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.checkbox:checked + .policy-box {
  background-color: #2196f3;
  background-image: url(/svg/galochka.svg);
  vertical-align: middle;
  background-repeat: no-repeat;
  vertical-align: middle;
  background-size: contain;
  background-origin: border-box;
  border-color: #2196f3;
}

.checkbox:focus + .policy-box {
  border-color: #2196f3;
}

.modal .policy-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #757575;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.715;
  letter-spacing: 0.03em;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
}

.policy-link {
  display: inline-block;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  color: #2196f3;
}

.modal-btn {
  margin-top: 30px;
  margin-left: 30%;
  margin-bottom: 35px;
  color: #ffffff;
  background-color: #2196f3;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  width: 200px;
  height: 50px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  border: none;
  letter-spacing: 0.06em;
  border-radius: 4px;
}

.work-items {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

@media screen and (max-width: 768px) {
  .work-items {
    display: none;
  }
  .work-subjekt {
    display: none;
  }
}

.doing-thumb {
  width: 370px;
  height: 70px;
  background-color: #2f303a;
  position: absolute;
  top: 1610px;
  opacity: 0.8;
  -webkit-transition: 250ms;
  transition: 250ms;
  overflow: hidden;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
}

.p-thumb {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  opacity: 1;
  color: #ffffff;
  padding-top: 27px;
}

.menu-button {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
}

.head_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-left: 15px;
  padding-right: 15px;
}

.menu-svg {
  width: 40px;
  height: 40px;
}

.menu-button .icon_cross {
  display: none;
}

.menu-button.is-open .icon_cross {
  display: block;
}

.menu-button.is-open .icon_menu {
  display: none;
}

.menu_container {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background-color: #ffffff;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
  font-size: 20px;
}

.menu_container.is-open {
  display: block;
}

@media screen and (min-width: 481px) {
  .menu_container.is-open {
    display: none;
  }
  .menu {
    display: none;
  }
}

.icon_menu:hover {
  fill: #2196f3;
}

.icon_cross:hover {
  fill: #2196f3;
}
/*# sourceMappingURL=main.css.map */