body {
  box-sizing: border-box;
  margin-right: 0px;
}
ul {
  list-style: none;
}
* {
  padding-inline-start: 0px;
  padding-inline-end: 0px;
  padding-right: 0px;
  margin-left: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
}

/* global */
/* header */
.logo {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
  margin-left: 100px;
  width: 145px;
  height: 31px;
  left: 215px;
  top: 24px;
}
.f-logo {
  color: #2196f3;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 145px;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
}
.s-logo {
  color: #000000;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 145px;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
}
.list {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  display: flex;
}
.studio-item {
  margin-left: 90px;
}
.studio-item :visited {
  color: #2196f3;
}
.studio-trade {
  color: #2196f3;
  position: relative;
}
.portfolio-item :hover {
  color: #2196f3;
  transition: all 250ms;
}
.kontakt-item :hover {
  color: #2196f3;
  transition: 250ms;
}
.studio-trade::after {
  position: absolute;
  top: 48px;
  content: "";
  width: 100%;
  height: 4px;
  bottom: 0px;
  left: 0px;
  background-color: #2196f3;
  border-radius: 2px;
}

.kontakt-item {
  margin-right: 200px;
}

.portfolio-item {
  margin-left: 50px;
  margin-right: 50px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
}

.kontakt-items {
  display: flex;
}

.tel-trade:hover {
  color: #2196f3;
}

.mail-trade {
  color: #757575;
  text-decoration: none;
  margin-right: 0px;
  margin-left: 10px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
}
.mail-trade {
  margin-left: 10px;
}
.mail-item :hover {
  color: #2196f3;
}
.p-mail {
  margin-left: 10px;
}
.tel-trade {
  color: #757575;
  text-decoration: none;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  margin-right: 0px;
}

.telefone-icon {
  margin-right: 10px;
}
.envenlope-icon {
  margin-left: 10px;
  vertical-align: middle;
}
.kontakt-items .mail-trade:hover,
.kontakt-items .mail-trade:focus {
  color: #2196f3;
  fill: #2196f3;
  transition: 250ms;
}
.kontakt-items .tel-trade:hover,
.kontakt-items .tel-trade:focus {
  color: #2196f3;
  fill: #2196f3;
  transition: 250ms;
}
.tel-trade {
  display: flex;
}
.mail-trade {
  display: flex;
}
.mail-item {
  margin-top: 10px;
}

.studio-trade {
  color: #212121;
  text-decoration: none;
}
.portfolio-trade {
  color: #212121;
  text-decoration: none;
}
.kontakt-trade {
  color: #212121;
  text-decoration: none;
}
.warning-first {
  margin-top: 30px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.header {
  height: 60px;
}
/* header */

/* main */
/* section */
.title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 60px;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 30px;
}
.hero-warning {
  padding-top: 200px;
  padding-bottom: 200px;
}
.hero-section {
  height: 600px;

  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(/images/background-hero-tab@2-min.jpg);

  align-content: center;
}

.button {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  background: #2196f3;
  color: #ffffff;
  width: 200px;
  height: 50px;
  border: 1px;
  border-radius: 4px;
}
/* section */
/* section */
.antena-background {
  display: flex;
  width: 270px;
  height: 120px;
  background-color: #f5f4fa;
  align-items: center;
  justify-content: center;
  margin-left: 90px;
  margin-bottom: 30px;
  border-radius: 4px;
  margin-top: 94px;
}

.antena-icon {
  margin-top: 1px;
  margin-left: 10px;
}
.clock-icon {
  margin-top: 1px;
  margin-left: 10px;
}
.clock-background {
  margin-left: 30px;
  display: flex;
  width: 270px;
  height: 120px;
  background-color: #f5f4fa;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
  border-radius: 4px;
  margin-top: 94px;
}
.diagram-background {
  margin-left: 30px;
  display: flex;
  width: 270px;
  height: 120px;
  background-color: #f5f4fa;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
  border-radius: 4px;
  margin-top: 94px;
}
.astronaut-background {
  margin-left: 30px;
  display: flex;
  width: 270px;
  height: 120px;
  background-color: #f5f4fa;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
  border-radius: 4px;
  margin-right: 90px;
  margin-top: 94px;
}

.subjekt {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #212121;
  margin-right: 30px;
  margin-left: 90px;
  margin-bottom: 10px;
}
.tehnology-subjekt {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #212121;
  margin-right: 90px;
  margin-bottom: 10px;
  margin-top: 0px;
  margin-bottom: 10px;
  margin-left: 30px;
}
.plan-subjekt {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #212121;
  margin-right: 30px;
  margin-bottom: 10px;
  margin-top: 0px;
  margin-left: 30px;
}
.punkt-subjekt {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #212121;
  margin-right: 30px;
  margin-bottom: 10px;
  margin-top: 0px;
  margin-left: 30px;
}
.first-text {
  color: #757575;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  margin-right: 30px;
  margin-left: 90px;
  margin-top: 10px;
  margin-bottom: 94px;
}
.second-text {
  color: #757575;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  margin-right: 30px;
  margin-left: 30px;
  margin-top: 10px;
  margin-bottom: 94px;
}
.third-text {
  color: #757575;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  margin-right: 30px;
  margin-top: 10px;
  margin-bottom: 94px;
  margin-left: 30px;
}
.fourth-text {
  color: #757575;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  margin-right: 90px;
  margin-top: 10px;
  margin-bottom: 94px;
  margin-left: 30px;
}
.first-conteiner {
  text-align: center;
}
.second-conteiner {
  text-align: center;
}

.div-item {
  display: flex;
  margin-top: 94px;
}
.detal-items {
  margin-bottom: 10px;
}

.items {
  display: flex;
}

.developer-items {
  display: flex;
}
/* section */
/* section */
.work-subjekt {
  margin-top: 94px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  margin-bottom: 100px;
}
.div-thumb {
  width: 370px;
  height: 70px;
  background-color: rgba(47, 48, 58);
  position: absolute;
  top: 1680px;
  opacity: 0;
  transition: 250ms;
  overflow: hidden;
  transform: translateY(100%);
  transition: 0.3s;
}
.div-thumb:hover {
  width: 370px;
  height: 70px;
  background-color: rgba(47, 48, 58);

  position: absolute;
  top: 1680px;
  opacity: 0.8;
  transition: 250ms;
  transform: translateY(0);
}
.p-thumb {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  opacity: 1;
  color: #ffffff;
  padding-top: 27px;
}
.work-items {
  text-align: center;
  display: flex;
  justify-content: space-around;
}
/* section */
/* section */
.komand-subjekt {
  text-align: center;
}
.komand-subjekt {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  margin-top: 188px;
  padding-top: 94px;
  margin-bottom: 50px;
}

.f-svg :hover {
  fill: #ffffff;
}
.s-svg :hover {
  fill: #ffffff;
}
.t-svg :hover {
  fill: #ffffff;
  transition: 250ms;
}

.svg-warning {
  display: flex;
}
.komand-svg {
  background: #ffffff;
}
.komand-svg {
  align-items: center;
  justify-content: center;
  display: flex;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: #ffffff;
  margin-bottom: 42px;
  margin-top: 28px;
  margin-left: 13px;
  margin-right: 10px;
  fill: #afb1b8;
}
.komand-svg:hover,
.komand-svg:focus {
  background-color: #2196f3;
  transition: 250ms;

  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  fill: #ffffff;
}
.second-section {
  background-color: #f5f4fa;
  height: 708px;
}

.name-item {
  color: #212121;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;

  line-height: 19px;
  margin-top: 30px;
  margin-bottom: 10px;
}
.work-item {
  color: #757575;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
}
.komand-warning {
  display: flex;
  justify-content: center;
  justify-content: space-around;
  text-align: center;
}
.img-item {
  background-color: #ffffff;
  border-radius: 4px;
  margin-bottom: 94px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}
/* section */

.klient-title {
  margin-top: 94px;
  text-align: center;
  margin-bottom: 74px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  letter-spacing: 0.03em;
  color: #212121;
}
.klients {
  display: flex;
}
.t-section {
  width: 1351px;
  height: 300px;
}

.f-klient {
  padding-top: 23px;
  padding-bottom: 22px;
  padding-right: 64px;
  padding-left: 64px;
  border: 1px solid #afb1b8;
  box-sizing: border-box;
  border-radius: 4px;
  margin-left: 100px;
  fill: #afb1b8;
}
.f-klient:hover {
  fill: #2196f3;
  border-color: #2196f3;
  transition: 250ms;
}

.s-klient {
  padding-top: 19px;
  padding-left: 65px;
  padding-right: 65px;
  padding-bottom: 21px;
  border: 1px solid #afb1b8;
  box-sizing: border-box;
  border-radius: 4px;
  margin-left: 30px;
  fill: #afb1b8;
}
.s-klient:hover {
  fill: #2196f3;
  border-color: #2196f3;
  transition: 250ms;
}

.t-klient {
  padding-top: 24.7px;
  padding-left: 61px;
  padding-bottom: 26px;
  padding-right: 61px;
  border: 1px solid #afb1b8;
  box-sizing: border-box;
  border-radius: 4px;
  margin-left: 30px;
  fill: #afb1b8;
}
.t-klient:hover {
  fill: #2196f3;
  border-color: #2196f3;
  transition: 250ms;
}
.fo-klient {
  padding-top: 24.7px;
  padding-right: 32px;
  padding-left: 55px;
  padding-bottom: 26.68px;
  border: 1px solid #afb1b8;
  box-sizing: border-box;
  border-radius: 4px;
  margin-left: 30px;
  fill: #afb1b8;
}
.fo-klient:hover {
  fill: #2196f3;
  border-color: #2196f3;
  transition: 250ms;
}
.fi-klient {
  padding-top: 22.77px;
  padding-right: 54.6px;
  padding-left: 54px;
  padding-bottom: 23.8px;
  border: 1px solid #afb1b8;
  box-sizing: border-box;
  border-radius: 4px;
  margin-left: 30px;
  fill: #afb1b8;
}
.fi-klient:hover {
  fill: #2196f3;
  border-color: #2196f3;
  transition: 250ms;
}
.si-klient {
  padding-top: 22.77px;
  padding-left: 40px;
  padding-right: 38px;
  padding-bottom: 25.31px;
  border: 1px solid #afb1b8;
  box-sizing: border-box;
  border-radius: 4px;
  margin-left: 30px;
  margin-right: 100px;
  fill: #afb1b8;
}
.si-klient:hover {
  fill: #2196f3;
  border-color: #2196f3;
  transition: 250ms;
}
/* section */
/* main */
/* footer */
.foot-mail {
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;

  margin-left: 215px;
}

.foot-warning {
  vertical-align: baseline;
}

.foot-logo {
  padding-top: 75px;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  margin-left: 100px;
}
.address {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  color: #ffffff;
  margin-left: 100px;
  margin-top: 20px;
  margin-bottom: 9px;
}
.footer-items {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
}
.footer {
  display: flex;
  align-items: baseline;
}

.foot-mail {
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  margin-left: 100px;
}

.foot-link {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  padding-left: 528px;

  color: #ffffff;
}

.footer {
  background-color: #2f303a;
  width: 1351px;
  height: 252px;
}
.foot-mailto {
  margin-top: 9px;
  margin-bottom: 9px;
}
.f-footlogo {
  color: #2196f3;
}
.s-footlogo {
  color: #ffffff;
}
/* footer */
/* join*/
.join {
  margin-left: 70px;
}

.join-title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  margin-left: 5px;
}

.join-list {
  display: flex;
  fill: #fff;
  margin-top: 20px;
}

.join-list :not(:last-child) {
  margin-right: 10px;
}

.join-icon {
  width: 20px;
  height: 20px;
  fill: #ffffff;
}

.join-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
}

.join-link:hover,
.join-link:focus {
  background-color: #2196f3;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  transition: 250ms;
}
.join-icon :hover,
.join-icon :focus {
  fill: #ffffff;
}
/* join */
/* foot-form */
.foot-input {
  background-color: #2f303a;
  border: 1px solid #ffffff;
  border-radius: 3px;
  width: 358px;
  height: 50px;
  padding-left: 20px;
  color: #ffffff;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  outline: none;
}
.foot-button {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  background: #2196f3;
  color: #ffffff;
  width: 200px;
  height: 50px;
  border: 1px;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  padding-right: 40px;
  vertical-align: middle;
  margin-left: 12px;
  margin-bottom: 3px;
}
.inp-svg {
  vertical-align: middle;
  position: relative;

  right: 65px;
}

.inp-text {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: #ffffff;
  margin-bottom: 20px;
}

.foot-form {
  margin-left: 93px;
}
/* foot-form */
/* modal */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(1.2);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  min-height: 581px;
  min-width: 528px;
  background-color: #ffffff;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms linear;
  border-radius: 3px;
}

.modal-close {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  cursor: pointer;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
}
.modal-close :focus,
.modal-close :hover {
  fill: #2196f3;
  transition: 250ms;
}

.close-image {
  width: 11px;
  height: 11px;
  vertical-align: middle;
}

/* modal */
/* modal-form */
.modal-text {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.03em;
  text-align: center;
  color: #212121;
  margin-top: 40px;
}
.f-input {
  margin-top: 5px;
  width: 418px;
  height: 40px;
  outline: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 10px;
  margin-bottom: 10px;
  padding-left: 40px;
}
.f-input:focus {
  transition: 250ms;
  border-color: #2196f3;
  fill: #2196f3;
}
.f-input:focus + .svg-lable {
  fill: #2196f3;
  color: #2196f3;
  transition: 250ms;
}

.f-modal-svg :focus {
  fill: #2196f3;
}
.f-form {
  text-align: center;
}
.first-label {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: #757575;
  margin-left: 34px;
}
.s-input {
  outline: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 10px;
  width: 448px;

  margin-top: 5px;
  margin-bottom: 10px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: #757575;
}
.s-input {
  padding-top: 16px;
  padding-bottom: 90px;
}
.s-input:focus {
  transition: 250ms;
  border-color: #2196f3;
  fill: #2196f3;
}
.form-input {
  margin-left: 40px;
}
.f-modal-svg {
  position: absolute;
  top: 98px;
  left: 48px;
  vertical-align: middle;
  transition-property: fill;
}
.s-modal-svg {
  position: absolute;
  top: 179px;
  left: 48px;
  vertical-align: middle;
}
.t-modal-svg {
  position: absolute;
  top: 254px;
  left: 48px;
  vertical-align: middle;
}
/* modal-form */
/* check-box */
.modal-policy {
  margin-top: 20px;
}

.checkbox {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.policy-box {
  display: inline-block;
  width: 12px;
  height: 11px;
  border: 2px solid #000000;
  border-radius: 2px;
  margin-right: 8px;

  transition-property: background-color, border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.checkbox:checked + .policy-box {
  background-color: #2196f3;
  background-image: url(./galochka.svg);
  vertical-align: middle;
  background-repeat: no-repeat;
  vertical-align: middle;
  background-size: contain;
  background-origin: border-box;
  border-color: #2196f3;
}

.checkbox:focus + .policy-box {
  border-color: #2196f3;
}

.modal .policy-text {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #757575;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.715;
  letter-spacing: 0.03em;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
}

.policy-link {
  display: inline-block;
  text-decoration-line: underline;
  color: #2196f3;
}
.modal-btn {
  margin-top: 30px;
  margin-left: 30%;
  margin-bottom: 35px;
  color: #ffffff;
  background-color: #188ce8;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  width: 200px;
  height: 50px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  border: none;
  letter-spacing: 0.06em;
  border-radius: 4px;
}
/* checkbox */
/* portfolio */
body {
  box-sizing: border-box;
  margin-right: 0px;
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
}
* {
  padding-inline-start: 0px;
  padding-inline-end: 0px;
  padding-right: 0px;
  margin-left: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
}
@media screen and (max-width: 480px) {
  .media-header {
    display: none;
  }

  
}

@media screen and (max-width: 480px) {
  .logo {
    margin-left: 15px;
    margin-top: 16px;
    margin-bottom: 16px;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 0.03em;
  }
}
.head_container{
  display: flex;
  align-items: center;
  
}

.menu-button{
  display: inline-flex;
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
  
}

.head_container{
  display: flex;
  align-items: center;
  
}


.menu-svg{
  width: 40px;
  height: 40px;
}

.menu-button .icon_cross{
  display: none;
}

.menu-button.is-open .icon_cross{
  display: block;
}

.menu-button.is-open .icon_menu{
  display: none;
}

.menu_container{
display: none;
position: absolute;
top: 100%;
left: 0;
width: 100%;
background-color: #ffffff;
padding-top: 20px;
padding-bottom: 20px;
text-align: center;
font-size: 20px;


}

.menu_container.is-open{
  display: block;
}

@media screen and (min-width: 481px){
  .menu{
   display: none;
  }
}

@media screen and (max-width: 480px) {
  .menu_list{
    display: block;
  }

  
}

.menu_kontakt-trade{
  color: #212121;
  text-decoration: none;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 47px;
  }

  .menu_portfolio-trade{
    color:  #212121;
  text-decoration: none;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 47px;
  }

  .menu_studio-trade{
  color: #212121;
  text-decoration: none;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 47px;
  }

  .menu_studio-trade:hover{
    color: #2196F3;
  }

  .menu_portfolio-trade:hover{
    color: #2196F3;
  }
  .menu_kontakt-trade:hover{
    color: #2196F3;
  }

.menu_studio-item{
  margin-bottom: 32px;
}

.menu_portfolio-item{
  margin-bottom: 32px;
}

.menu_kontakt-item{
  margin-bottom: 302px;
}

.menu_mail-link{
  text-align: center;
  font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 34px;
line-height: 40px;


letter-spacing: 0.02em;

color: #2196F3;
}

.menu_mobile{
  margin-bottom: 32px;
}

.menu_e-mail-link{
  font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 24px;
line-height: 28px;
letter-spacing: 0.02em;
text-align: center;
color: #757575;
}

.menu_enveloper{
  margin-bottom: 64px;
}

.mail_link{
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
  width: 357px;
  margin-left: auto;
  margin-right: auto;
  
  
  
}
.linkedin_link{
  font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 22px;
letter-spacing: 0.02em;
color: #2196F3;
text-decoration: none;
}

.menu_link{
  font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 22px;
letter-spacing: 0.02em;
color: #2196F3;
text-decoration: none;

}

.link_item{
  border-right: rgba(33, 33, 33, 0.2) solid 1px;
  padding-right: 10px;
}
.logo {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
  margin-left: 100px;
  width: 145px;
  height: 31px;
  left: 215px;
  top: 24px;
}

.list {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  display: flex;
}
.studio-item {
  margin-left: 90px;
}
.kontakt-item {
  margin-right: 200px;
}
.portfolio-item {
  margin-left: 50px;
  margin-right: 50px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
}
.portfolio-item :visited {
  color: #2196f3;
}
.studio-item :hover {
  color: #2196f3;
  transition: 250ms;
}
.kontakt-item :hover {
  color: #2196f3;
  transition: 250ms;
}

.kontakt-items {
  display: flex;
}
/* .mail-trade:hover {
  color: #2196f3;
}
.tel-trade:hover {
  color: #2196f3;
} */

.mail-trade {
  color: #757575;
  text-decoration: none;
  margin-right: 50px;
}

.tel-trade {
  color: #757575;
  text-decoration: none;
}
.envenlope-icon {
  margin-right: 10px;
}
.telefone-icon {
  margin-right: 10px;
  margin-top: 32px;
  margin-bottom: 32px;
}
.header {
  height: 60px;
  border-bottom: 1px solid #eeeeee;
}
.warning-first {
  display: flex;
  margin-top: 30px;
  align-items: center;
}
.studio-trade {
  text-decoration: none;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;

  color: #212121;
}
.portfolio-trade {
  text-decoration: none;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;

  color: #212121;
}
.portfolio-trade {
  color: #2196f3;
  position: relative;
}
.portfolio-trade::after {
  position: absolute;
  top: 48px;
  content: "";
  width: 100%;
  height: 4px;
  bottom: 0px;
  left: 0px;
  background-color: #2196f3;
  border-radius: 2px;
}
.kontakt-trade {
  text-decoration: none;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: #212121;
}
.f-logo {
  color: #2196f3;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 145px;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
}
.s-logo {
  color: #000000;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 145px;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
}
/* .envelope-icon {
  margin-right: 10px;
}
.kontakt-items :hover {
  color: #2196f3;
  fill: #2196f3;
} */
.contact-list {
  display: flex;
}

.contact-list :not(:last-child) {
  margin-right: 50px;
}
.contact-list .link {
  font-family: "Roboto";
  padding-bottom: 32px;
  padding-top: 31px;
  color: #757575;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.02em;
  text-decoration: none;
}
.contact-list .link:hover,
.contact-list .link:focus {
  color: #2196f3;
  fill: #2196f3;
}
.icon-envelope {
  width: 16px;
  height: 12px;
  margin-right: 10px;
}
.icon-smartphone {
  width: 10px;
  height: 16px;
  vertical-align: middle;
  margin-right: 10px;
}
.icon-envelope :hover,
.icon-envelope :focus {
  fill: #2196f3;
}
.icon-smartphone :hover,
.icon-smartphone :focus {
  fill: #2196f3;
}
ul {
  list-style: none;
}

.head-items {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  display: flex;
}
.kontakt-items {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
}
.button-items {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  display: flex;
  justify-content: center;
  margin-top: 50px;
  margin-bottom: 50px;
}
.btn {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  background: #f5f4fa;
  color: #212121;
  width: 73px;
  height: 38px;
  border: 1px;
  border-radius: 4px;
  margin-right: 8px;
}
.btn:hover {
  background-color: #2196f3;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  color: #ffffff;
  transition: 250ms;
}

.veb-btn {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  background: #f5f4fa;
  color: #212121;
  width: 128px;
  height: 38px;
  border: 1px;
  border-radius: 4px;
  margin-right: 8px;
}
.veb-btn:hover {
  background-color: #2196f3;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  color: #ffffff;
  transition: 250ms;
}
.app-btn {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  background: #f5f4fa;
  color: #212121;
  width: 145px;
  height: 38px;
  border: 1px;
  border-radius: 4px;
  margin-right: 8px;
}
.app-btn:hover {
  background-color: #2196f3;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px #0000001f;
  color: #ffffff;
  transition: 250ms;
}
.dizain-btn {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  background: #f5f4fa;
  color: #212121;
  width: 103px;
  height: 38px;
  border: 1px;
  border-radius: 4px;
  margin-right: 8px;
}
.dizain-btn:hover {
  background-color: #2196f3;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  color: #ffffff;
  transition: 250ms;
}
.marketing-btn {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  background: #f5f4fa;
  color: #212121;
  width: 130px;
  height: 38px;
  border: 1px;
  border-radius: 4px;
}
.marketing-btn:hover {
  background-color: #2196f3;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  color: #ffffff;
  transition: 250ms;
}
.first-warning {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}
@media screen and (max-Width: 480px){
  .first-warning{
    display: block;
  }
  .second-warning{
    display: block;
  }
  .third-warning{
    display: block;
  }
}
.second-warning {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}
.third-warning {
  display: flex;
  justify-content: center;
  margin-bottom: 94px;
}
.tehno-items {
  margin-right: 30px;
  border: 1px solid #eeeeee;
  box-sizing: border-box;
}
.tehno-items:hover {
  background: #ffffff;
  border: 1px solid #eeeeee;
  box-sizing: border-box;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}
.poster-items {
  margin-right: 30px;
  border: 1px solid #eeeeee;
  box-sizing: border-box;
}
.poster-items:hover {
  background: #ffffff;
  border: 1px solid #eeeeee;
  box-sizing: border-box;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}
.sea-items {
  margin-right: 0;
  border: 1px solid #eeeeee;
  box-sizing: border-box;
}
.sea-items:hover {
  background: #ffffff;
  border: 1px solid #eeeeee;
  box-sizing: border-box;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}
.prime-items {
  margin-right: px;
  border: 1px solid #eeeeee;
  box-sizing: border-box;
}
.prime-items:hover {
  background: #ffffff;
  border: 1px solid #eeeeee;
  box-sizing: border-box;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}
.boxes-items {
  margin-left: 30px;
  border: 1px solid #eeeeee;
  box-sizing: border-box;
}
.boxes-items:hover {
  background: #ffffff;
  border: 1px solid #eeeeee;
  box-sizing: border-box;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}
.inspiration-items {
  margin-right: 0;
  margin-left: 30px;
  border: 1px solid #eeeeee;
  box-sizing: border-box;
}
.inspiration-items:hover {
  background: #ffffff;
  border: 1px solid #eeeeee;
  box-sizing: border-box;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}
.limited-items {
  margin-right: 30px;
  border: 1px solid #eeeeee;
  box-sizing: border-box;
}
.limited-items:hover {
  background: #ffffff;
  border: 1px solid #eeeeee;
  box-sizing: border-box;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}
.lab-items {
  margin-right: 30px;
  border: 1px solid #eeeeee;
  box-sizing: border-box;
}
.lab-items:hover {
  background: #ffffff;
  border: 1px solid #eeeeee;
  box-sizing: border-box;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}
.groving-items {
  margin-right: 0px;
  border: 1px solid #eeeeee;
  box-sizing: border-box;
}
.groving-items:hover {
  background: #ffffff;
  border: 1px solid #eeeeee;
  box-sizing: border-box;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.teh-item {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 36px;
  margin-top: 20px;
  margin-bottom: 8px;
  margin-left: 24px;
}
.div-thumb {
  width: 370px;
  height: 294px;
  background: rgba(33, 150, 243, 0.9);
  position: absolute;
  opacity: 0;
  overflow: hidden;
  transform: translateY(50%);
  transition: 0.7s;
  display: inline-block;
}
.div-thumb:hover {
  width: 371px;
  height: 294px;
  background: rgba(33, 150, 243, 0.9);
  position: absolute;
  opacity: 0.9;
  transition: 0.7s;
  /* transition-duration: 250ms; */
  transform: translateY(0);
}
.p-thumb {
  position: absolute;
  left: 30px;
  top: 63px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  /* or 156% */

  letter-spacing: 0.03em;

  color: #ffffff;
}
.veb-item {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  margin-bottom: 20px;
  margin-left: 24px;
}
.dizain-item {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  margin-bottom: 20px;
  margin-left: 24px;
}
.poster-item {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 36px;
  margin-top: 20px;
  margin-bottom: 8px;
  margin-left: 24px;
}
.restoran-item {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 36px;
  margin-top: 20px;
  margin-bottom: 8px;
  margin-left: 24px;
}
.sea-item {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  margin-bottom: 20px;
  margin-left: 24px;
}
.progekt-item {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 36px;
  margin-top: 20px;
  margin-bottom: 8px;
  margin-left: 24px;
}
.marketing-item {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  margin-bottom: 20px;
  margin-left: 24px;
}
.boxes-item {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 36px;
  margin-top: 20px;
  margin-bottom: 8px;
  margin-left: 24px;
}
.prilogenie-item {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  margin-bottom: 20px;
  margin-left: 24px;
}
.inspiration-item {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 36px;
  margin-top: 20px;
  margin-bottom: 8px;
  margin-left: 24px;
}
.sait-item {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  margin-bottom: 20px;
  margin-left: 24px;
}
.limited-item {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 36px;
  margin-top: 20px;
  margin-bottom: 8px;
  margin-left: 24px;
}
.edition-item {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  margin-bottom: 20px;
  margin-left: 24px;
}
.lab-item {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 36px;
  margin-top: 20px;
  margin-bottom: 8px;
  margin-left: 24px;
}
.la-item {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  margin-bottom: 20px;
  margin-left: 24px;
}
.groving-item {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 36px;
  margin-top: 20px;
  margin-bottom: 8px;
  margin-left: 24px;
}
.business-item {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  margin-bottom: 20px;
  margin-left: 24px;
}
.foot-link {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  padding-left: 528px;

  color: #ffffff;
}

.footer {
  background-color: #2f303a;
  width: 1351px;
  height: 252px;
}
.foot-mailto {
  margin-top: 9px;
  margin-bottom: 9px;
}
.f-footlogo {
  color: #2196f3;
}
.s-footlogo {
  color: #ffffff;
}
.foot-mail {
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;

  margin-left: 100px;
}
.kontakt-items .mail-trade:hover,
.kontakt-items .mail-trade:focus {
  color: #2196f3;
  fill: #2196f3;
  transition: 250ms;
}
.mail-trade {
  display: flex;
  margin-left: 10px;
}

.foot-warning {
  vertical-align: baseline;
}

.foot-logo {
  padding-top: 75px;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  margin-left: 100px;
}
.address {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  color: #ffffff;
  margin-left: 100px;
  margin-top: 20px;
  margin-bottom: 9px;
}
.footer-items {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
}
.footer {
  display: flex;
  align-items: baseline;
}
.join {
  margin-left: 70px;
}

.join-title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}

.join-list {
  display: flex;
  fill: #fff;
  margin-top: 20px;
}

.join-list :not(:last-child) {
  margin-right: 10px;
}

.join-icon {
  width: 20px;
  height: 20px;
  fill: inherit;
}

.join-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
}

.join-link:hover,
.join-link:focus {
  background-color: #2196f3;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  transition: 250ms;
}
.join-icon :hover,
.join-icon :focus {
  fill: #ffffff;
}
.foot-input {
  background-color: #2f303a;
  border: 1px solid #ffffff;
  border-radius: 3px;
  width: 358px;
  height: 50px;
  padding-left: 20px;
  color: #ffffff;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  outline: none;
}
.foot-button {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  background: #2196f3;
  color: #ffffff;
  width: 200px;
  height: 50px;
  border: 1px;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  padding-right: 40px;
  vertical-align: middle;
  margin-left: 12px;
  margin-bottom: 3px;
}
.inp-svg {
  vertical-align: middle;
  position: relative;

  right: 65px;
}

.inp-text {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: #ffffff;
  margin-bottom: 20px;
}

.foot-form {
  margin-left: 93px;
}
