

.join {
  margin-top: 60px;

  @media screen and (min-width: 768px) {
    margin-top: 0;
  }

  @media screen and (min-width: 1200px) {
    margin-left: 70px;
  }
}

.join__title {
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 1.143;
  text-transform: uppercase;
  color: $dark-background-text;
}

.join__list {
  display: flex;
  justify-content: center;
  fill: #fff;
  margin-top: 20px;
}

.join__item:not(:last-child) {
  margin-right: 10px;
}

.join__icon {
  width: 20px;
  height: 20px;
  fill: inherit;
}

.join__link {
  @extend %centredFlex;
  width: 44px;
  height: 44px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;

  transition-property: background-color;
  transition-duration: $duration;
  transition-timing-function: $timing-fuction;

  &:hover,
  &:focus {
    background-color: $accent-color;
  }
}


