.foot-mail {
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;

  margin-left: 215px;
}

.address {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  color: $secondarytextColor;
  margin-left: 100px;
  margin-top: 20px;
  margin-bottom: 9px;
}
@media screen and (max-width: 480px){
  .address {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    color: $secondarytextColor;
    margin-left: 0px;
    margin-top: 20px;
    margin-bottom: 9px;
    text-align: center;
  }
}
.footer-items {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
}
.foot-mail {
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  margin-left: 100px;
}

@media screen and (max-width: 480px){
  .foot-mail{
  margin-left: 0px;
  display: flex;
  justify-content: baseline;
  justify-content: center;
  }
}

.foot-link {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  padding-left: 528px;

  color: $secondarytextColor;
}
.foot-mailto {
  margin-top: 9px;
  margin-bottom: 9px;
}
