.button {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  background: $primaryColor;
  color: $secondarytextColor;
  width: 200px;
  height: 50px;
  border: 1px;
  border-radius: 4px;
}
