.si-klient:hover {
  fill: #2196f3;
  border-color: #2196f3;
  transition: 250ms;
}
.fi-klient:hover {
  fill: #2196f3;
  border-color: #2196f3;
  transition: 250ms;
}
.fo-klient:hover {
  fill: #2196f3;
  border-color: #2196f3;
  transition: 250ms;
}
.t-klient:hover {
  fill: #2196f3;
  border-color: #2196f3;
  transition: 250ms;
}
.s-klient:hover {
  fill: #2196f3;
  border-color: #2196f3;
  transition: 250ms;
}
.f-klient:hover {
  fill: #2196f3;
  border-color: #2196f3;
  transition: 250ms;
}
