.logo {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
  margin-left: 100px;
  width: 145px;
  height: 31px;
  margin-top: 30px;
}

@media screen and (min-width: 769px) {
  .logo {
    font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
  margin-left: 0px;
  width: 145px;
  height: 31px;
  
  }
}



@media screen and (max-width: 768px) {
  .logo {
    margin-left: 15px;
    margin-top: 16px;
    margin-bottom: 16px;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 0.03em;
  }
}
.f-logo {
  color: $primaryColor;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 145px;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
}
.s-logo {
  color: $logoColor;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 145px;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
}

.foot-logo {
  padding-top: 75px;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
 
}
@media screen and (min-width: 1200px){
  
.foot-logo{
  margin-left: 100px;
}
}

@media screen and (max-width: 768px){
  .foot-logo { 
    text-align: center;
    margin-left: 0px;
  }
}
.f-footlogo {
  color: $primaryColor;
}
.s-footlogo {
  color: $secondarytextColor;
}
