.modal-text {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.03em;
  text-align: center;
  color: $primarytradeColor;
  margin-top: 40px;
}


.f-input {
  margin-top: 5px;
  // width: 418px;
  height: 40px;
  outline: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  // padding-left: 10px;
  margin-bottom: 10px;
  // padding-left: 40px;
  
}

@media screen and (min-width: 1200px){
  .first-label {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.01em;
    color: $primarytextColor;
    margin-left: 34px;
  }
  .f-input{
    width: 404px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-left: 55px;
    
  }

  .s-input{
    width: 448px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
  }

  .f-form{
    position: relative;
  }

  .f-modal-svg {
    position: absolute;
    top: 13px;
    left: 55px;
    vertical-align: middle;
    transition-property: fill;
  }
  .s-modal-svg {
    position: absolute;
    top: 16px;
    left: 55px;
    vertical-align: middle;
  }
  .t-modal-svg {
    position: absolute;
    top: 13px;
    left: 55px;
    vertical-align: middle;
  }
  

}

@media screen and (max-width: 480px){
  .first-label{
    margin-left: 0px;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.01em;
    color: $primarytextColor;
  }
  .f-input{
  width: 85%;
  padding-left: 40px;
 }
 
 .f-form {
  width: 100%;
  
}

.s-input{
  width: 93%;
  padding-left: 15px;
}
.f-modal-svg {
  position: absolute;
  top: 17px;
  left: 20px;
  vertical-align: middle;
  transition-property: fill;
}
.s-modal-svg {
  position: absolute;
  top: 19px;
  left: 20px;
  vertical-align: middle;
}
.t-modal-svg {
  position: absolute;
  top: 17px;
  left: 20px;
  vertical-align: middle;
}
}
.f-input:focus {
  transition: 250ms;
  border-color: $primaryColor;
  fill: $primaryColor;
}
.f-input:focus + .svg-lable {
  fill: $primaryColor;
  color: $primaryColor;
  transition: 250ms;
}

.f-modal-svg :focus {
  fill: $primaryColor;
}
// .f-form {
//   display: block;
//   width: 370px;
//   margin-left: auto;
//   margin-right: auto;
// }

.s-input {
  outline: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  // padding-left: 10px;
  

  margin-top: 5px;
  margin-bottom: 10px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: $primarytextColor;
}


.s-input {
  padding-top: 16px;
  padding-bottom: 90px;
}
.s-input:focus {
  transition: 250ms;
  border-color: $primaryColor;
  fill: $primaryColor;
}
.form-input {
  margin-left: 40px;
}
// .f-modal-svg {
//   position: absolute;
//   top: 17px;
//   left: 42px;
//   vertical-align: middle;
//   transition-property: fill;
// }
// .s-modal-svg {
//   position: absolute;
//   top: 19px;
//   left: 42px;
//   vertical-align: middle;
// }
// .t-modal-svg {
//   position: absolute;
//   top: 17px;
//   left: 42px;
//   vertical-align: middle;
// }


  .f-form{
    position: relative;
  }

