.komand-subjekt {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  margin-top: 188px;
  padding-top: 94px;
  margin-bottom: 50px;
  text-align: center;
}
.svg-warning {
  display: flex;
  justify-content: center;
}
.komand-svg {
  background: $secondarytextColor;
}
.komand-svg {
  align-items: center;
  justify-content: center;
  display: flex;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: $secondarytextColor;
  margin-bottom: 42px;
  margin-top: 28px;
  margin-left: 13px;
  margin-right: 10px;
  fill: $cardBorder;
}

.second-section {
  background-color: $backgraundColor;
  height: 708px;
}

@media screen and (max-width: 480px) {
  .second-section {
    background-color: $backgraundColor;
    height: 100%;
  }
}

.name-item {
  color: $primarytradeColor;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;

  line-height: 19px;
  margin-top: 30px;
  margin-bottom: 10px;
}
.work-item {
  color: $backgraundColor;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
}
.komand-warning {
  display: flex;
  justify-content: center;
  justify-content: space-around;
  text-align: center;
}
@media screen and (max-width: 480px) {
  .komand-warning {
    display: block;
    padding-left: 15px;
    padding-right: 15px;
  }
}
.img-item {
  background-color: $secondarytextColor;
  border-radius: 4px;
  margin-bottom: 94px;
  box-shadow: $comandFilter;
}

@media screen and (max-width: 480px) {
  .img-item {
    margin-bottom: 30px;
  }
}
@media screen and (max-width: 480px) {
  .img-item {
    width: 100%;
  }
}

@media screen and (max-width: 480px) {
  .Demianenko-img {
    width: 100%;
    height: auto;
  }
}

@media screen and (max-width: 480px) {
  .Repina-img {
    width: 100%;
    height: auto;
  }
}

@media screen and (max-width: 480px) {
  .Tarasow-img {
    width: 100%;
    height: auto;
  }
}

@media screen and (max-width: 480px) {
  .Ermakow-img {
    width: 100%;
    height: auto;
  }
}

@media screen and (max-width: 480px) {
  .Ermakov-items {
    padding-bottom: 30px;
  }
}
